.App {
  width: 740px;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.form {
  padding: 28px 0px;
}

.note {
  width: 100%;
}

.note__text {
  margin-left: 8px;
}

.done {
  text-decoration: line-through;
}

.btn {
  margin-left: 20px;
  background-color: lightgreen;
  padding: 7px;
  border: 0;
  border-radius: 4px;
  outline: 0;
  color: darkslategrey;
  font-weight: 800;
  cursor: pointer;
}

.input {
  padding: 8px;
  border-radius: 4px;
  outline: 0;
  border: 0.5px solid gray;
  width: 100%;
}

img {
  cursor: pointer;
}